<!DOCTYPE html>
<html>
    <head>
        <title>Triar Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
        <form method="post" action="/login">
            <h1>Login</h1>
            
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario"  required>
            <label for="senha" >Senha:</label>
            <input type="password" id="senha" name="senha" required><br>

            <input type="submit" value="Entrar">
        </form>
    </body>
</html>
