<!DOCTYPE html>
<html>
    <head>
        <title>Triar Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <style>
            #errormsg{
                color: red;
                font-size: 0.8em;
                text-align: center;
            }
        </style>
    </head>
    <body>
        
        <form method="post" action="{{ url_for('authuser') }}">
            <h1>Login</h1>
            <p id="errormsg" style="display: none;">Usuário ou Senha incorreto</p>
            
            <label for="user">Usuário:</label>
            <input type="text" id="user" name="user"  required>
            <label for="password" >Senha:</label>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" value="Entrar">
        </form>
    </body>
    {% if alerta_js %}
    <script>
        errormsg = document.getElementById('errormsg')
        errormsg.style.removeProperty('display')
    </script>
    {% endif %}
</html>
