<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Chat App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

        <header>
            <div  class="header1">
                <img src="logo.png" alt="Logo" id="logo">
                <p style="max-width: fit-content; margin: 10px;">
                    Triar ChatHub
                </p>
            </div>
            <div>
                
            </div>
            <div class="header2">
            <p style="max-width: fit-content; margin: 10px;">
                {{name}}
            </p>
            <img src="{{url_for('static', filename=picture)}}" alt="Profile Picture" id="profPic">
            </div>
        </header>

        <div id="container" class="grid-container">
          <div id="contacts" class="grid-item">
            <h2>Contacts</h2>
            {% for contato_key, contato in contatos.items() %}
              <ul class="contato-list" id="contato-{{ contato_key }}">
                <li onclick="changeClient('{{ contato['number'] }}')" class="contato"><strong>Nome:</strong> {{ contato['name'] }}</li>
                <li><strong>Número:</strong> {{ contato['number'] }}</li>
              </ul>
            {% endfor %}
          </div>

            <div id="chat" class="grid-item">
                
                <div id="conversation">
                    <h2>{{text}}</h2>
                </div>
                <div class="message-input">
                    <input type="text" id="messageInput" placeholder="Digite sua mensagem">
                    <button id="sendButton" onclick="sendMessage()" disabled>Send</button>
                </div>
            </div>
        </div>
    </body>
    <script>
        var currentClient

       function sendMessage(){
    let message = document.getElementById('messageInput').value;
    
    $.ajax({
        url: '/sendMessage',
        type: 'POST',
        data: {
            'number': currentClient,
            'text': message
        },
        success: function(response){
            // Atualiza a div de conversa com a mensagem enviada
            $("#conversation").append("<p>" + message + "</p>");
            console.log(response);
        },
        error: function(error){
            console.log(error);
        }
    });
}
    function changeClient(number=null){
    if (currentClient != null) {
        // Remove a classe 'selected' da ul do contato anteriormente selecionado
        $("#contato-" + currentClient).removeClass("selected");
    }

    currentClient = number;

    if (currentClient == null){
        document.getElementById('sendButton').disabled = true;
    }
    else{
        document.getElementById('sendButton').disabled = false;
        // Adiciona a classe 'selected' à ul do contato atualmente selecionado
        $("#contato-" + currentClient).addClass("selected");

        // Atualiza a div de conversa com o nome do contato
        updateConversation();
    }
    console.log(currentClient);
}

function updateConversation() {
    // Obtém o nome do contato atualmente selecionado
    var nomeContato = contatos[currentClient].name;

    // Atualiza o h2 na div de conversa
    $("#conversation").html("<h2>Conversa com " + nomeContato + "</h2>");
}

    </script>
</html>
