<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

        <header>
            <div style="float: left; width: max-content; word-break: keep-all;">
                <img src="logo.png" alt="Logo" id="logo">
                <p style="max-width: fit-content;">
                    Triar ChatHub
                </p>
            </div>
            <div style="float: right; width: max-content; word-break: keep-all;">
                <p style="max-width: fit-content;">
                    {{name}}
                </p>
                <img src="{{url_for('static', filename=picture)}}" alt="Profile Picture" id="profPic">
            </div>
            
        </header>

        <div id="container" class="grid-container">
            <div id="contacts" class="grid-item">
                <h2>Contacts</h2>
                <ul>
                    <li>Contact 1</li>
                    <li>Contact 2</li>
                    <li>Contact 3</li>
                    <!-- Add more contacts as needed -->
                </ul>
            </div>

            <div id="chat" class="grid-item">
                
                <div id="conversation">
                    <h2>Contact</h2>
                    <!-- Chat messages will appear here -->
                </div>
                <div class="message-input">
                    <input type="text" id="messageInput" placeholder="Type your message...">
                    <button id="sendButton" onclick="sendMessage(5535997184807)">Send</button>
                </div>
            </div>
        </div>
    </body>
    <script>
        function sendMessage(number){
            let message = document.getElementById('messageInput').value
            
            let url = '/sendMessage?number=' + encodeURIComponent(number) + '&text=' + encodeURIComponent(message)
            
            let request = new XMLHttpRequest()
            request.open("GET", url, true)
            request.send()
        }
    </script>
</html>